html {
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 0px;
    margin: 0px;
    width: 20rem;
}

body {
    margin: 0px;
    padding: .5rem;
    border: 2px solid #cdd6f4;
    width: calc(20rem - 1rem - 4px); 
}

.title {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
}

.title img {
    height: 3.5rem;
}

.title p {
    font-size: 1rem;
    font-weight: 600;
}

.title div {
    text-align: center;
}

.title h1 {
    font-size: 1.3rem;
    margin: .5rem;
}

.title h2 {
    font-size: .7rem;
    font-weight: 300;
}