html {
  background-color: var(--base);
  color: var(--text);
  padding: 0px;
  margin: 0px;
  width: 20rem;
}

body {
  margin: 0px;
  padding: 0px;
  border: 2px solid var(--text);
  width: calc(100% - 4px);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

hr {
  display: block;
  border: 0;
  border-top: 2px solid var(--text);
  margin: 0px auto;
  padding: 0;
  width: 100%;
}
